# Local .terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Terraform plan files
*.tfplan

# Override files used for local changes
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files (like secrets or credentials)
*.auto.tfvars
*.tfvars

# Ignore backup files
*.bak

# Ignore IDE/editor folders (optional)
.vscode/
.idea/
.DS_Store
